.singleService img{
    width: 350px;
    height: 300px;
    border-radius: 25px;
    padding: 20px 0;
}
.singleService{
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.singleService h2{
    color: purple;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
.singleService h6{
     font-family:Georgia, 'Times New Roman', Times, serif;
     font-weight: 500;
     font-size: 18px;
    }
    
    .singleService .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 20px;
    }
    .singleService i{
        color: purple;
        margin-right: 10px;
        
    }
    .singleService .fa-heart{
        color: red;
        font-size: 30px;
    }