.contact-area{
    margin-top: 100px;
    padding: 100px 0;
}
    .row-area{
            display: flex;
            justify-content: space-between;
            align-items: center;
    }
    input{
        border: none;
        background: bisque;
        margin: 10px 0;
        padding: 10px 20px;
        border-radius: 20px;
    }
    textarea{
        width: 100%;
        height: 150px;
        border-radius: 20px;
        background: bisque;
        border: none;
        outline: none;
        padding: 10px 40px;
        margin-top: 10px;
    }
    .form{
        margin: 0 20px;
    }